@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'Inter';
        src: url('../public/font/Inter-Bold.ttf') format('ttf');
    }
    html{
        font-family: inter;
    }
}